<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<title>HangoutsAngular</title>
	<link type="text/css" rel="stylesheet" media="screen" href="/css/bootstrap/bootstrap.css">
	<script src="/js/jquery/jquery.js"></script>
	<script src="/js/bootstrap/bootstrap.js"></script>
	<script src="/js/angular/angular.js"></script>
	<script src="/js/IndexController.js"></script>
</head>
<body>
	<div class="container" data-ng-app="HangoutsAngular" data-ng-controller="IndexController">
		<div class='row'>
			<div class='col-md-12'>
				<h1>Hangouts und AngularJs</h1>
				<div class="row">
					<div class="col-md-6">
						<h2>Angular JS</h2>
						<p>Try to change the names.</p>
						<p>
							First Name: <input type="text" data-ng-model="firstName"><br>
							Last Name: <input type="text" data-ng-model="lastName"><br>
							Full Name: {{firstName + " " + lastName}}
						</p>
					</div>
					<div class="col-md-6">
						<h2>Google Hangouts</h2>
						<p>Eine Hangouts-App ist durch eine XML-Datei repräsentiert <a href="/xml/hangoutsangular.xml" title="XML-Gadget-Datei">Gadget-XML-Datei</a>.
						</p>
						<h3>Hangout starten</h3>
						<script src="https://apis.google.com/js/platform.js" async defer></script>
						<div class="g-hangout" data-render="createhangout"></div>
						<h3>Hangout mit bestimmter Person starten</h3>
						<script src="https://apis.google.com/js/platform.js" async defer></script>
						<div class="g-hangout" data-render="createhangout"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="google_hangout" id="google_hangout">
							<h3 class="heading">Google Hangout with requestor</h3>
							<div id="placeholder-div"></div> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
(function() {
	var po = document.createElement('script'); 
	po.type = 'text/javascript'; 
	po.async = true;
	po.src = 'https://apis.google.com/js/platform.js?onload=renderButtons';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();

function renderButtons(){
	gapi.hangout.render('placeholder-div', {
		'render': 'createhangout',
		'invites' : "[{'id': 'user@gmail.com','invite_type': 'EMAIL'}]",
		'widget_size': 72
	});
}
</script>
</body>
</html>